html, body, #container, #wrapper, #sidebar, #map-canvas {
	height: 100%;
}

body { 
  	padding-top: 70px; 
}

#wrapper
{
    width:100%;
    position:relative;
    display:inline-block;
}

#sidebar
{
    width:20%;
    top:0px;
    left:0px;
    bottom:0px;
    position:absolute;
}
#map-canvas
{
    width:80%;
    position:relative;
    float:right;
	margin: 0; 
	padding: 0;
}