html, body, #container, #wrapper, #sidebar, #map-canvas {
	height: 100%;
}

body { 
  	padding-top: 70px; 
}

#sidebar
{
	margin: 0; 
    overflow-y: auto;
}
#map-canvas
{
    float:right;
	padding: 0;
}